<div class="container card bg-transparent border-dark p-3  h-100 overflow-auto">
  <h5 class="p-0 m-0"><i class="bi bi-megaphone me-2"></i>Announcements</h5>
  <div class="list-group border-0">
    <a href="#" class="list-group-item bg-transparent list-group-item-action" *ngFor="let item of items">
      <div class="d-flex justify-content-between">
        <div>
          <p class="m-0 text-truncate" >{{ item.title }}</p>
          <small class="text-muted" style="font-size: small;">{{ item.dateCreated | date }} by {{ item.creator }}</small>
        </div>
        <button class="btn btn-link">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </a>
  </div>
</div>
