<div class="h-100 d-flex flex-column">
<div *ngIf="isLoading$ | async" class="overlay">
  <div class="spinner-border text-primary " role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand ms-2" [routerLink]="'dashboard'">
        <img src="../../../assets/ccs_logo.png" height="35" width="35" alt="Profile Image"
          class="profile-image rounded-circle">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'dashboard'" [routerLinkActive]="'active'">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'courses'" [routerLinkActive]="'active'">Courses</a>
          </li>
        </ul>
      </div>
      <div class="me-4">
        <app-nav-notification></app-nav-notification>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary bg-transparent text-dark dropdown-toggle" type="button" id="profileDropdown"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://www.shutterstock.com/image-photo/head-shot-portrait-close-smiling-260nw-1714666150.jpg"
            height="35" width="35" alt="Profile Image" class="profile-image rounded-circle">
          {{ (this.currentUser$ | async)?.username }}
        </button>
        <ul class="dropdown-menu bg-transparent dropdown-menu-end" aria-labelledby="profileDropdown">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content flex-fill h-100 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>
