<div class="container-fluid pt-2 d-flex flex-column h-100">
  <h5 class="display-5 mb-3 ms-2">Overview</h5>
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-9">
        <app-course-list-card *ngIf="(courses$ | async ) as courses" [courses]="courses"></app-course-list-card>
      </div>

      <div class="col-md-3">
        <app-dashboard-announcement-board-card [items]="announcements"></app-dashboard-announcement-board-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-dashboard-exercises-list-card></app-dashboard-exercises-list-card>
      </div>
      <div class="col-md-3">
        <app-dashboard-info-list-card [items]="assessments" [title]="'Assessments'" [subtitle]="'Recent Assessment'"
          [buttonLabel]="'View All'">
        </app-dashboard-info-list-card>
      </div>
      <div class="col-md-3">
        <app-dashboard-info-list-card [items]="assessments" [title]="'Assessments'" [subtitle]="'Recent Assessment'"
          [buttonLabel]="'View All'">
        </app-dashboard-info-list-card>
      </div>
    <div class="col-md-6">

    </div>
    </div>
  </div>
</div>
