<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 d-flex flex-row justify-content-center">
      <div class="card neo-card bg-transparent border-0">
        <div class="card-header  ">
          <div class="d-flex flex-column mb-3 justify-content-center align-items-center">
          <img src="../../../assets/ccs_logo.png" height="60" width="60" class="rounded  " alt="...">
          <h1 class="text-center">CCSCAI</h1>
          </div>
          <div class="text-dark ">Student Credentials</div>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="username" class="form-label text-white">Username</label>
              <input type="text" [(ngModel)]="username" name="username" class="form-control neo-input" id="username"
                placeholder="Enter your username" required>
              <div class="invalid-feedback">Please enter your username.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label text-white">Password</label>
              <input type="password" [(ngModel)]="password" name="password" class="form-control neo-input" id="password"
                placeholder="Enter your password" required>
              <div class="invalid-feedback">Please enter your password.</div>
            </div>
            <div class="container-fluid d-flex justify-content-center">
              <button type="submit" class="btn btn-primary mb-2 neo-btn text-dark">Sign-in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
