<div class="position-fixed bottom-0 end-0 m-3">
  <div class="chatbot-wrapper">
    <img src="../../../../assets/bot-icon.png" alt="Chatbot" width="80" height="80" class="chatbot-image rounded-circle"
      (click)="toggleChatbox()">
    <div class="chatbox" [ngClass]="{ 'active': isChatboxOpen, 'maximized': isChatboxMaximized }">
      <div class="chatbox-header">
        <h5 class="chatbox-title">CCSCAI Chatbot</h5>
        <div class="chatbox-controls">
          <button class="btn minimize-btn" (click)="toggleChatbox()"><i class="bi bi-dash"></i></button>
        </div>
      </div>
      <div class="chatbox-body" #chatboxBody>
        <div class="chatbox-messages">
          <div *ngFor="let message of messages" class="message-wrapper" [ngClass]="{
            'me-3': message.isChatbot,
            'ms-3 text-end': !message.isChatbot
          }">
            <div class="message" [ngClass]="{ 'chatbot': message.isChatbot, 'user': !message.isChatbot }">
              <i *ngIf="!message.isChatbot" class="bi bi-person-circle mb-1"></i>
              <img *ngIf="message.isChatbot" src="../../../../assets/bot-icon.png" width="30" height="30" alt="Bot"
                class="bot-icon mb-1">
              <ng-container
                *ngIf="isFetchingResponse && message.isChatbot && message.isFetching; else elseDoneFetching">
                <div class="loading-indicator">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
              </ng-container>
              <ng-template #elseDoneFetching>
                <p class="message-text">{{ message.message }}</p>
              </ng-template>

            </div>
          </div>
        </div>
      </div>
      <div class="chatbox-footer">
        <form (submit)="sendMessage()" class="input-group">
          <input type="text" class="form-control" placeholder="Type your message..." [ngModelOptions]="{ standalone: true }" [(ngModel)]="newMessage">
          <button [disabled]="newMessage.length <= 0" class="btn btn-primary" (submit)="sendMessage()">Send</button>
          </form>
      </div>
    </div>
  </div>
</div>
