<div *ngIf="moduleDiscussionResult" class="container-fluid h-100 p-3">
  <div class="card d-flex neo-card rounded flex-column h-100">
    <div class="card-body d-flex flex-column overflow-auto">
      <h3 class="card-title mb-3">({{moduleDiscussionResult.courseName}}) {{moduleDiscussionResult.moduleName}}</h3>
      <div class="content bg-dark text-white rounded p-4 flex-fill h-100 overflow-auto">
        <div class="discussion-container h-100 flex-fill d-flex flex-column" *ngIf="!showExercise">
          <h5 class="discussion-title">{{ moduleDiscussionResult.discussion.title }}</h5>
          <textarea readonly style="width: 100%; height: 100%; background-color: transparent; color: white;" class="discussion-content p-3">{{ moduleDiscussionResult.discussion.discussion }}</textarea>
        </div>

        <div class="exercise-container  h-100 d-flex flex-column justify-content-between" *ngIf="showExercise">
          <div>
            <div class="d-flex justify-content-between">
              <h5 class="exercise-title">{{ moduleDiscussionResult.discussion.exercise.exerciseName }}</h5>
              <span class="text-danger">
                <p>{{ moduleDiscussionResult.discussion.exercise.points }} Points</p>
              </span>
            </div>
            <p class="exercise-question">{{ moduleDiscussionResult.discussion.exercise.instructions }}</p>
            <p class="exercise-question">{{ replaceQBlank(moduleDiscussionResult.discussion.exercise.exerciseDetails) }}</p>
          </div>
          <textarea class="form-control exercise-answer" rows="10" placeholder="Type your answer here"></textarea>
          <!-- <app-answerable-section [output]="moduleDiscussionResult.discussion.exercise.exerciseDetails"></app-answerable-section> -->

          <div class="d-flex flex-row justify-content-end">
              <a name="" id="" class="btn m-0  btn-primary" href="#" role="button">Submit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="actions d-flex justify-content-end mb-3 me-2">

      <button class="btn btn-secondary me-2" (click)="toggleExerciseContent(moduleDiscussionResult.moduleId)">
        {{ showExercise ? 'Show Discussion' : 'Show Exercise' }}
      </button>
      <button [disabled]="moduleDiscussionResult.previousPage == null" class="btn btn-success me-2" [routerLink]="['../../../../module',moduleDiscussionResult.moduleId,'discussion',moduleDiscussionResult.previousPage]"  >
        Previous
      </button>
        <button [disabled]="moduleDiscussionResult.nextPage == null" class="btn btn-success me-2" [routerLink]="['../../../../module',moduleDiscussionResult.moduleId,'discussion',moduleDiscussionResult.nextPage]"  >
          Next
        </button>
    </div>
  </div>
</div>
