<h4 class="mb-0 "><span class="bi bi-megaphone"></span> Announcement</h4>
<div class="list-group pt-3">
  <app-dashboard-announcement-item-card title="Important Announcement 1" description="Lorem ipsum dolor sit"
    dateTimeCreated="2023-05-26T09:30:00Z"></app-dashboard-announcement-item-card>
  <app-dashboard-announcement-item-card title="Important Announcement 1" description="Lorem ipsum dolor sit"
    dateTimeCreated="2023-05-26T09:30:00Z"></app-dashboard-announcement-item-card>
  <app-dashboard-announcement-item-card title="Important Announcement 1" description="Lorem ipsum dolor sit"
    dateTimeCreated="2023-05-26T09:30:00Z"></app-dashboard-announcement-item-card>
  <app-dashboard-announcement-item-card title="Important Announcement 1" description="Lorem ipsum dolor sit"
    dateTimeCreated="2023-05-26T09:30:00Z"></app-dashboard-announcement-item-card>
    <app-dashboard-announcement-item-card title="Important Announcement 1" description="Lorem ipsum dolor sit"
      dateTimeCreated="2023-05-26T09:30:00Z"></app-dashboard-announcement-item-card>

</div>
