<div class="card mb-2">
  <div class="card-body">
    <div class="row align-items-center ">
      <div class="col-8">
        <div class="d-flex align-items-center ms-4">
          <div>
            <h5 class="card-title mb-1">{{courseTitle}}</h5>
            <h6 class="card-subtitle text-truncate text-muted">{{subTitle}}</h6>
            <p class="card-text  mb-2 p-0">{{instructor}}</p>
          </div>
        </div>
      </div>
      <div class="col-4">
      <span class="display-3 text-dark">
        <i class="bi bi-book"></i>
      </span>
      </div>
    </div>
    <div class="mt-3 align-end d-flex flex-row justify-content-end">
      <button href="#" class="btn btn-primary text-dark neo-btn-card">View</button>
    </div>
  </div>
</div>
